.card-entrepreneur {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3 ease;
}

.card-entrepreneur:hover {

  background-size: cover;
  background-position: center;
  background-color: rgba(214, 167, 14, 0.2);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-entrepreneur-inner {
  width: 80%;
  height: 80%;
  text-align: center;
}

.card-entrepreneur-inner img {
  width: 70%;
}

.card-entrepreneur-info:active {
  display: block;
}
