.banner {
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  background-size: cover;
  background-position: top;
  padding: 0;
/*  display: flex;
  align-items: center;
  justify-content: center;*/
  margin: 0;
}

.banner-top {
  padding-top: 50px;
}

.banner h1, .banner h2 {
  /*padding-left: 5px;*/
  /*padding-right: 20px;*/
  /*display: inline-block;*/
}

.banner h1 {
  text-align: left;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #A63446;
  color: #F9F7F6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h2 {
  text-align: left;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #A63446;
  background-color: #F9F7F6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.links {
  height: 50vh;
  padding-top: 40px;
}

.links a {
  display: inline-block;
}


/* --- Responsiveness --- */


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .banner-top {
    padding-top: 70px;
  }
}
