.card-detail {
  margin-bottom: 40px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-detail-body {
  padding: 40px;
  display: grid;
  grid-gap: 40px;
  align-items: center;
}

.card-detail-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.card-detail i {
  color: #A63446;
}*/

.card-detail img {
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}


.card-detail-info {
  width: 100%;
  /*position: relative;*/
}

.card-detail-info h3{
  margin-top: 0px;
}

/*.card-detail-info img {
  position: absolute;
  right: 20px;
  top: -40px;
}*/

.card-detail-info h3, p {
  text-align: left;
}

.card-detail-info a {
  opacity: 0.3;
  margin-left: 10px;
}


/* --- Responsiveness --- */

/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .card-detail-body {
    grid-template-columns: 1fr;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .card-detail-body {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .card-detail-body {
    grid-template-columns: 1fr;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .card-detail-body {
    grid-template-columns: 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .card-detail-body {
    grid-template-columns: 1fr 1fr
  }
}
