/*Basic utilities*/
html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  background-color: #F9F7F6;
  padding: 0px;
}

.container-main {
  /* min-height: 100vh;  will cover the 100% of viewport */
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}


/* Fonts*/

h1, h2, h3 {
  text-align: center;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  color: #A63446;
  text-align: center;
}

h2 {
  color: #A63446;
  text-align: center;
}

h3 {
  color: rgb(50, 50, 50);
  text-align: center;
}

p {
/*  font-size: 1.563em;
  line-height: 1.3em;*/
  color: rgb(50, 50, 50);
}


/* Handling 'a' tag*/

a {
  color: #A63446;
  transition: opacity 0.3s ease !important;
  text-decoration: none !important;

}

a:hover {
  text-decoration: none !important;
  cursor: pointer !important;
  color: #A63446;
  opacity: 0.6 !important;
}


/* --- Responsiveness --- */

/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  h1 {
    font-size: 1.953em !important;
  }

  h2 {
    font-size: 1.563em !important;
  }

  h3 {
    font-size: 1.563em !important;
  }

  .container-main {
    margin-left: 10px;
    margin-right: 10px;
  }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  h1 {
    font-size: 1.953em !important;
  }

  h2 {
    font-size: 1.563em !important;
  }

  h3 {
    font-size: 1.563em !important;
  }

  .container-main {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  h1 {
    font-size: 1.953em !important;
  }

  h2 {
    font-size: 1.563em !important;
  }

  h3 {
    font-size: 1.563em !important;
  }

  .container-main {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  h1 {
    font-size: 1.953em !important;
  }

  h2 {
    font-size: 1.563em !important;
  }

  h3 {
    font-size: 1.563em !important;
  }

  .container-main {
    margin-left: 100px;
    margin-right: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1 {
    font-size: 3.815em !important;
  }

  h2 {
    font-size: 2.441em !important;
  }

  h3 {
    font-size: 1.953em !important;
  }

  .container-main {
    margin-left: 300px;
    margin-right: 300px;
  }
}
